{% extends 'base.html.twig' %}

{% block title %}E-Mail zum Zurücksetzen des Passworts verschickt{% endblock %}

{% block body %}
<section class="" id="catching">
    <div class="bg-hero-ben-1 py-5">
        <div class="container py-5">
            <div class="hero my-5">
                <div class="row">
                    <div class="col-12">

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    {{ include('component/_navbar.html.twig') }}
<section class="py-5" id="register">
    <div class="container py-5">
        <div class="section section-primary">
            <p class="section-lead">
                Neues Passwort anfordern
            </p>
            <hr class="mb-5">
        </div>
        <div class="row g-5">
            <div class="col-12 col-md-6 offset-md-3">
                <p>
                    Sofern ein Konto mit der angegebenen E-Mail-Adresse existiert, erhältst Du in Kürze eine E-Mail mit einem Link zum Zurücksetzen Deines Passworts.
                </p>
                <p>
                    Der Link ist gültig für {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
                </p>
                <p>Solltest Du keine E-Mail erhalten haben, überprüfe bitte auch Deinen Spam-Ordner oder <a href="{{ path('app_forgot_password_request') }}">versuche es nochmal</a>.</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}
