@import "bootstrap/scss/functions"; // Required
@import "twitter_bootstrap/custom";
@import "twitter_bootstrap/colors";
@import "bootstrap/scss/variables"; // Required
@import "bootstrap/scss/mixins"; // Required
@import "bootstrap/scss/root"; // Required
@import "bootstrap/scss/reboot"; // Required
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/containers";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/accordion";
@import "~bootstrap/scss/breadcrumb";
@import "~bootstrap/scss/pagination";
@import "~bootstrap/scss/badge";
@import "~bootstrap/scss/alert";
@import "~bootstrap/scss/progress";
@import "~bootstrap/scss/list-group";
@import "~bootstrap/scss/close";
@import "~bootstrap/scss/toasts";
@import "~bootstrap/scss/modal";
@import "~bootstrap/scss/tooltip";
@import "~bootstrap/scss/popover";
@import "~bootstrap/scss/carousel";
@import "~bootstrap/scss/spinners";
@import "~bootstrap/scss/offcanvas";

// Helpers
@import "~bootstrap/scss/helpers";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/utilities/api";

@import "~bootstrap-icons";
@import "styles";

@import '~chocolat/dist/css/chocolat.css';
.chocolat-wrapper .chocolat-bottom {
  padding: 30px 60px !important;
  z-index: 99999;
}
.chocolat-overlay {
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  background-color: transparentize($white, .4) !important;
  opacity: 1 !important;
}

.chocolat-center {
  padding-left: env(safe-area-inset-left, 16px) !important;
  padding-right:  env(safe-area-inset-right, 16px) !important;
}

.chocolat-close{
  right: env(safe-area-inset-right, 0) !important;
}